<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bungo.destiny">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityQuestDetail"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ActivityLogin"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="myapp" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ActivityCharacter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityTriumph"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityRecords"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitySeals"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityClassConfig"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityItem"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityLoadout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityActivityList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityPGCR"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityRecordItem"
            android:screenOrientation="portrait" />
    </application>

</manifest>